<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%-5level %file:%line - %msg%n</pattern>
    </layout>
  </appender>

  <logger name="de.jardas.drakensang">
    <level value="debug" />
  </logger>

  <logger name="de.jardas.drakensang.shared.db.Messages">
    <level value="info" />
  </logger>

  <logger name="de.jardas.drakensang.shared.db.Static">
    <level value="warn" />
  </logger>

  <logger name="de.jardas.drakensang.dao.InventoryDao">
    <level value="warn" />
  </logger>

  <root>
    <level value="debug" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
