<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="6.0+" version="1.5-SNAPSHOT"
  codebase="http://www.jardas.de/drakensang/webstart" href="$outputFile">
  <information>
    <title>Drakensang Savegame Editor</title>
    <vendor>Philipp Jardas</vendor>
    <homepage href="http://www.jardas.de/drakensang/" />
    <offline-allowed />
  </information>

  <security>
    <all-permissions />
  </security>

  <resources os="Windows">
    <java version="1.5+" />
    $dependencies
    <property name="jnlp.versionEnabled" value="true" />
  </resources>

  <application-desc main-class="$mainClass" />
</jnlp> 
